name: "Features - Release"
on:
  workflow_dispatch:
    inputs:
      run_tests:
        type: boolean
        description: 'run tests'
        default: true
      feature_name:
        type: string
        description: 'Specific feature to publish'
        default: ''

jobs:
  run-tests:
    uses: ./.github/workflows/test.yaml
    secrets: inherit
    with:
      enabled: ${{ inputs.run_tests }}

  deploy:
    needs: [run-tests]
    if: always() && ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      packages: write
    steps:
      - uses: actions/checkout@v3

      - name: "Publish Features"
        uses: devcontainers/action@v1
        with:
          publish-features: "true"
          base-path-to-features: ${{ inputs.feature_name && format('./src/{}', inputs.feature_name) || './src' }}
          generate-docs: "false"

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
